.appLoader {
  position: fixed;
  z-index: 50;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  height: 30px;
  width: 100px;
}

.circle {
  border-radius: 50%;
  background-color: #2b72c2;
  display: block;
  float: left;
  margin: 5px 2px;
  position: relative;
  top: 5px;
  height: 20px;
  width: 20px;

  -webkit-animation: loading-circle 1.2s infinite;
  -moz-animation: loading-circle 1.2s infinite;
  -o-animation: loading-circle 1.2s infinite;
  animation: loading-circle 1.2s infinite;

  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes loading-circle {
  0% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  25% {
    height: 30px;
    top: 0;
    width: 30px;
  }
  50% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

@-moz-keyframes loading-circle {
  0% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  25% {
    height: 30px;
    top: 0;
    width: 30px;
  }
  50% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

@-o-keyframes loading-circle {
  0% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  25% {
    height: 30px;
    top: 0;
    width: 30px;
  }
  50% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

@keyframes loading-circle {
  0% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  25% {
    height: 30px;
    top: 0;
    width: 30px;
  }
  50% {
    height: 20px;
    top: 5px;
    width: 20px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

.circle2 {
  -webkit-animation-delay: 150ms;
  -moz-animation-delay: 150ms;
  -o-animation-delay: 150ms;
  animation-delay: 150ms;
}

.circle3 {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  animation-delay: 300ms;
}
